    <header>
        <div class="container">
                <img class="img-phone" src="{{ "/img/phone.png " | prepend:site.resource  }}"/>
                <div class="intro-text">
                    <div class="intro-lead-in pull-left">Best word Memorize app</div>
                </div>
                <a href="https://play.google.com/store/apps/details?id=com.gummyslab.wordmemorize"><img class="img-playstore pull-left" src="{{ "/img/play-store-btn.png " | prepend:site.resource  }}"/></a>
            
        </div>
    </header>
